# Python
__pycache__/
*.pyc
.venv/
env/
venv/

# Airflow
logs/
airflow.db
.airflow/
*.pid

# Sistema/IDE
.DS_Store
.vscode/
.idea/

# Credenciales
.env
great_expectations/uncommitted/

# Datos pesados opcionales
data/processed/*
